@import url(https://fonts.googleapis.com/css?family=Questrial&display=swap);

*{
  font-family: 'Questrial', sans-serif;
}

*  {
  margin:0;
  padding:0;
}

html, body {height:100%;}

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;
}
.inner {
  color: black;
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

.lead{
  margin-bottom: 60px;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: black; /* IE8 proofing */
  color: rgba(0,0,0,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: gray;
  border-bottom-color: rgba(32, 32, 32, 0.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: black;
  border-bottom-color: black;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
  margin-top: 150px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead {
    z-index: 1;
    background: white;
    box-shadow: inset 0 42px 42px -15px rgba(0,0,0,.2);
  }
}

.table > tbody > tr > td {
  vertical-align: middle !important;
}

img {
  display: block;
  width: 100%;
}


.navbar-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 18px;
  text-decoration: none;
  color: white; /* IE8 proofing */
  border-bottom: none;
}


.navbar-nav > li{
  text-align: center;
  margin-right: 40px;
  font-family: 'Questrial', sans-serif;
}


.navbar-nav > .active{
  border-bottom: 2px solid white;
}

.navbar-brand{
  font-size: 25px;
  font-family: 'Questrial', sans-serif;
}

.licita{
  color: #ea80fc;
}

.if{
  color: white;
}

.licita, .if{
  font-size: 35px;
  font-weight: bold;
}

.docs{
  border: none;
  margin-bottom: 1%;
  color: #7b1fa2;
  background-color: #eeeeee;
  border-radius: none;
  text-shadow: none !important;
}

.title-item-list{
  text-align: left;
  font-weight: bold;
  font-size: 25px;
}

.description-item-list{
  text-align: left;
  font-size: 23px;
  color: #616161 !important;
}

.content-item-list-rigth{
  float: right;
  font-weight: bold;
}

.content-item-list-left{
  float: left;
  font-size: 23px;
}

.link-doc{
  font-weight: bold;
  font-size: 23px;
  line-height: 23px;
  vertical-align: middle;
}

.link-doc:hover{
  text-decoration: none;
}

.type-doc{
  color: white;
  margin-bottom: 30%;
}

.checklist, .alert-checklist {
  background-color: #2962ff;
}

.manual{
  background-color: #ff1744;
}

.abrir-processo{
  background-color: #4dd0e1;
}

.outros{
  background-color: #212121;
}

html, body {
  height: 100%;
  margin: 0;
}

.footer{
  background-color: #6a1b9a;
  margin-bottom: -174px;
}

.footer .inner > p{
  color:white !important;
  font-size: 20px;
}

.footer > .inner a{
  font-weight: bold;
}

.col-icon{
  font-size: 250px;
  text-align: center;
  vertical-align: middle;
  background: rgb(123,31,162);
  background: linear-gradient(90deg, rgba(123,31,162,1) 0%, rgba(123,31,162,1) 51%, rgba(83,109,254,1) 97%);
  padding-bottom: 10px;
}


.content-div-home{
  vertical-align: middle;
  font-size: 30px;
  padding: 30px;
  color: #757575;
}


.title-div-home{
  margin-top: 5%;
  font-weight: bold;
  font-size: 40px;
  color: #6a1b9a;
}

.content-div-home > a{
  color: #424242 !important;
  text-decoration: none !important;
}

.w-85 {
  width: 85% !important;
}

.w-80 {
  width: 80% !important;
}

.w-90 {
  width: 90% !important;
}

.w-15 {
  width: 15% !important;
}

.w-10 {
  width: 10% !important;
}

.w-25 {
  width: 25% !important;
}


.w-40 {
  width: 40% !important;
}

.w-45 {
  width: 45% !important;
}

.faqs-content > .faq-pergunta{
  font-size: 30px;
  margin-bottom: 1%;
  color: #616161;
  font-weight: bold;
}

.faqs-content > .faq-resposta{
  text-align: justify;
  font-size: 23px;
  background-color: #e1bee7;
  border-radius: 1.5rem;
  color:#4a148c;
  padding: 2%;
}

.label-resp{
  font-size: 23px;
  font-weight: bold;
}

.faq-container{
  background-color: #f5f5f5;
  padding: 2%;
  margin-bottom: 2%;
  border-radius: 1rem;
}

.faq-tags{
  margin-top: 2%;
  font-size: 25px;
}

.faq-tag{
  margin-right: 1%;
  margin-bottom: 1%;
  background-color: #7b1fa2;
  color: white;
  text-align: center;
}

.link-chat{
  color: #7b1fa2 !important;
  font-weight: bold;
  font-size: 18px;
}

.title-docs{
  color:#7b1fa2;
  margin-bottom: 1%;
  font-size:70px;
  text-align:center;
  margin-top: 120px;
}

.message-no-docs{
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  padding: 7%;
  margin-bottom: 7%;
  margin-top: 5%;
}

.img-about{
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 3%;
}

.title-tec-about{
  font-size: 30px;
  font-weight: bold;
  text-align: center !important;
  font-weight: 30px;
  margin-top: 3%;
  margin-bottom: 3%;
}

.title-tecs{
  font-weight: bold;
  margin-bottom: 5%;
}

.text-tecs{
  text-align: justify;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 22px;
}

.project-info{
  margin-top: 150px;
}

.project-info-title{
  color:#757575;
}

.project-info-description{
  font-size:30px;
  color:#616161;
}

.col-icon-sm{
  font-size: 80px;
  text-align: center;
  vertical-align: middle;
  background: rgb(123,31,162);
  background: linear-gradient(90deg, rgba(123,31,162,1) 0%, rgba(123,31,162,1) 51%, rgba(83,109,254,1) 97%);
  padding-bottom: 10px;
}

.col-icon-sm{
  display:none;
}



/**
  Responsividade da página home.
*/
@media screen and (max-width: 480px) {
  .project-info{
    margin-top: 27%;
  }

  .project-info-title{
    font-size: 80px;
  }
  
  .project-info-description{
    font-size:22px;
  }

  .lead {
    margin-bottom: 20px;
  }

  .col-icon {
    font-size: 80px;
  }

  .title-div-home {
    font-size: 25px;
  }

  .content-div-home {
    font-size: 22px;
    padding: 2px;
  }


  .col-icon-sm{
    display: inline;
  }

  .col-icon-2{
    display:none;
  }
}

.title-faqs{
  color:#7b1fa2;
  margin-bottom: 3%;
  font-size:70px;
  margin-top:120px; 
  text-align:center;
}

.title-faqs::after{
  content: 'FAQs (Perguntas Frequentes)';
}

.faq{
  margin-left: auto!important;
  margin-right: auto!important;
}


/**
  Responsividade da página faqs.
*/
@media screen and (max-width: 480px) {
  .title-faqs{
    margin-top: 27%;
  }

  .title-faqs::after{
    content: 'FAQs';
  }

  .faq{
    margin-left: 0!important;
    margin-right: 0!important;
    width: 100%!important;
  }

  .faqs-content > .faq-pergunta {
    font-size: 20px;
    text-align: center;
    padding: 5px;
  }

  .faq-container {
    border-radius: 0;
    margin-bottom: 5%;
  }

  .faqs-content > .faq-resposta {
    text-align: justify;
    font-size: 18px;
    border-radius: 0;
  }

  .faq-container {
    padding-left: 0;
    padding-right: 0;
  }

  .faq-tags {
    margin-left: 2%;
    font-size: 20px;
  }

  .label-resp{
    font-size: 18px;
  }

  .faq-tag {
    margin-right: 4%;
  }
}

/**
  Responsividade da página docs.
*/
@media screen and (max-width: 480px) {
  .title-docs {
    font-size: 55px;
    margin-top: 100px;
  }

  .list-docs{
    width: 95%!important;
    margin-bottom: 0%!important;
  }

  .docs {
    margin-bottom: 4%;
  }

  .content-item-list-left{
    width: 100%!important;
    float: none;
  }

  .title-item-list {
    text-align: center;
    font-size: 20px;
  }

  .description-item-list {
    text-align: justify;
    font-size: 20px;
    padding-right: 0%!important;
  }

  .content-item-list-rigth {
    float: none;
    width: 100%!important;
    padding-left: 0%!important;
  }

  .type-doc {
    margin-top: 5%;
    margin-bottom: 7%;
  }

  .link-doc {
    font-size: 20px;
    line-height: 20px;
  }

  .message-no-docs {
    font-size: 20px;
    margin-bottom: 17%;
    margin-top: 10%;
}
}
